// Color
$white-color: #fff;
$grey-color: #C4C4C4;
$dark-grey-color: #808080;
$opacity-grey-color: #BABABA;
$dark-color: #383838;
$black-color: #111111;
$blue-color: #477BDF;
$light-blue-color: #BCCFFF;
$blue-active-color: #5f8ee7;

// Default-style
%h2 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: $black-color;
}

%h3 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: $black-color;
}

%h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $opacity-grey-color;
}

%btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: $black-color;
}

%h4 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: $white-color;
}

%h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: $white-color;
}

%p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $white-color;
}

%p-big {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $white-color;
}

%p-small {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $white-color;
}

%p-rare {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  color: $white-color;
}

// Default size media width

$extra-large-max: 1200px;
$extra-large: 1140px;
$large: 960px;
$medium: 768px;
$small: 576px;
$extra-small: 480px;
